# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Debug/ProjectS.tlog
/x64/Debug
/.vs
/src/.vs/ProjectS/v16/Browse.VC.db
/src/.vs/ProjectS/v16/Browse.VC.opendb
/src/.vs/ProjectS/v16/.suo
/src/.vs/ProjectS/v16/.suo
/src/.vs/ProjectS/v16/ipch/AutoPCH
/src/Debug/ProjectS.tlog
/src/x64/Debug
.vscode/launch.json
.vscode/tasks.json
